img {
    height: 200px;
}

.wooo {}

.pics {
    display: flex;
    justify-content: space-between;
    border: 3px solid black;
    padding: 15px;
    margin: 10px;
}

.yeah {
    font-size: 30px;
    text-align: center;
    margin: 30px;
}

.smile {

}

nav {
    display: flex;
    justify-content: flex-start;
    margin: 15px;
    font-size: 40px;


}

body {
    background-color: #36393E;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: white;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #FF0000;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.navbar1{
	display:flex;
}

.cya{
	font-size: 45px;
    margin: 30px;
    text-align: center;
}